{% extends 'base.html' %}
{% block post_style %}
    <style>
        #map_div {
            position: relative;
            overflow: hidden;
        }

        .category, .category * {
            margin: 0px;
            padding: 0px;
            color: #000;
        }

        .category {
            position: absolute;
            overflow: hidden;
            top: 88px;
            left: 76px;
            width: 38px;
            height: 540px;
            z-index: 10;
            font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
            font-size: 12px;
            text-align: left;
            background-color: #fff;
        }

        .category .menu_selected_good {
            background: #6cea90;
            color: #fff;
            border-left: 1px solid #915B2F;
            border-right: 1px solid #915B2F;
            margin: 0 -1px;
        }

        .category .menu_selected_bad {
            background: #FF5F4A;
            color: #fff;
            border-left: 1px solid #915B2F;
            border-right: 1px solid #915B2F;
            margin: 0 -1px;
        }

        .category li {
            list-style: none;
            float: left;
            width: 40px;
            height: 35px;
            padding-top: 5px;
            padding-left: 5px;
            cursor: pointer;
        }

        .category img {
            list-style: none;
            float: left;
            width: 26px;
            height: 26px;
            padding-top: 0px;
            padding-left: 0px;
        }

        .category1 {
            position: absolute;
            overflow: hidden;
            top: 97px;
            right: 100px;
            width: 100px;
            height: 50px;
            z-index: 10;
            font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
            font-size: 12px;
            text-align: right;
            background-color: #f9ff05;
        }

        .category2 {
            position: absolute;
            overflow: hidden;
            top: 97px;
            right: 200px;
            width: 100px;
            height: 50px;
            z-index: 10;
            font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
            font-size: 12px;
            text-align: right;
            background-color: #f9ff05;
        }

        .category3 {
            position: absolute;
            overflow: hidden;
            top: 97px;
            right: 300px;
            width: 100px;
            height: 50px;
            z-index: 10;
            font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
            font-size: 12px;
            text-align: right;
            background-color: #f9ff05;
        }

        .predict {
            position: absolute;
            overflow: hidden;
            bottom: 130px;
            right: 100px;
            width: 100px;
            height: 40px;
            z-index: 10;
            font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
            font-size: 12px;
            text-align: right;
            background-color: #f9ff05;
        }

        .badbad {
            background: #FF5F4A;
            valign:middle;
        }

        .badbad img {
            width: 35px;
            height: 35px;
            margin-left: 5px;
            margin-top: 6px;
        }

        .goodgood {
            background: #6cea90;
        }

        .goodgood img {
            width: 35px;
            height: 35px;
            margin-left: 5px;
            margin-top: 6px;
        }

        th {vertical-align: middle;}

    </style>
{% endblock post_style %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div id="w1" class="cpanel" data-cw-expand="true" style="padding-bottom: 30px">
                <div class="cpanel-body" style="padding-left: 100px;">
                    <div class="category1" id="category1">
                        <select class="form-control form-control-sm"
                                style="height:100%; width: 100%; padding:0;" name="sel" id="sel"
                                onchange="chageLangSelect()">
                            <option value=550>0.5km</option>
                            <option value=1050>1km</option>
                            <option value=1550>1.5km</option>
                            <option value=2050>2km</option>
                        </select>
                    </div>
                    <div class="category2" id="category2">
                        <button type="button" class="btn btn-warning" id="myCheck" onclick="start()"
                                style="background: #ff6028; height: 100%; width:100%; padding:0;" value=1>
                            중심원
                        </button>
                    </div>
                    <div class="category3" id="category3">
                        <button onclick="location2();" class="btn btn-danger"
                                style="background: #ff6028;height:100%; width: 100%; padding:0;">현재위치
                        </button>
                    </div>
                    <div class="predict" id="predict"
                         style="text-align: center; padding:0px; font-size:30px; color:white;">
                    </div>


                    <div class="category" id="category">
                        <ul>
                            <li class="menu_selected_bad" id="schoolZone"
                                onclick="changeMarker('schoolZone')">
                                <img src="static/icon/schoolZone.png" alt="스쿨존 교통사고 다발지역"
                                     title='스쿨존 어린이 교통사고 다발지역'/>
                            </li>
                            <li class="menu_selected_bad" id="construction"
                                onclick="changeMarker('construction')">
                                <img src="static/icon/construction.png" alt="공사현장" title='공사현장'/>
                            </li>
                            <li class="menu_selected_bad" id="motel" onclick="changeMarker('motel')">
                                <img src="static/icon/motel.png" alt="모텔" title='모텔'/>
                            </li>
                            <li class="menu_selected_bad" id="childPedestrianAccident"
                                onclick="changeMarker('childPedestrianAccident')">
                                <img src="static/icon/childPedestrianAccident.png" alt="어린이 보행자 사고다발구역"
                                     title='어린이 보행자 사고다발구역'/>
                            </li>
                            <li class="menu_selected_bad" id="roomSalon"
                                onclick="changeMarker('roomSalon')">
                                <img src="static/icon/roomSalon.png" alt="유흥주점" title='유흥주점'/>
                            </li>
                            <li class="menu_selected_good" id="childSafetyZone"
                                onclick="changeMarker('childSafetyZone')">
                                <img src="static/icon/childSafetyZone.png" alt="어린이 안전 구역"
                                     title='어린이 안전구역'/>
                            </li>
                            <li class="menu_selected_good" id="fireStation"
                                onclick="changeMarker('fireStation')">
                                <img src="static/icon/fireStation.png" alt="소방서" title='소방서'/>
                            </li>
                            <li class="menu_selected_good" id="fireStationSafetyCenter"
                                onclick="changeMarker('fireStationSafetyCenter')">
                                <img src="static/icon/fireStationSafetyCenter.png" alt="119 안전센터"
                                     title='119 안전센터'/>
                            </li>
                            <li class="menu_selected_good" id="elementarySchool"
                                onclick="changeMarker('elementarySchool')">
                                <img src="static/icon/elementarySchool.png" alt="초등학교" title='초등학교'/>
                            </li>
                            <li class="menu_selected_good" id="playGround"
                                onclick="changeMarker('playGround')">
                                <img src="static/icon/playGround.png" alt="어린이 놀이터" title='어린이 놀이터'/>
                            </li>
                            <li class="menu_selected_good" id="policeOffice"
                                onclick="changeMarker('policeOffice')">
                                <img src="static/icon/policeOffice.png" alt="경찰서" title='경찰서'/>
                            </li>
                            <li class="menu_selected_good" id="kindergarten"
                                onclick="changeMarker('kindergarten')">
                                <img src="static/icon/kindergarten.png" alt="유치원" title='유치원'/>
                            </li>
                            <li class="menu_selected_good" id="childSafetyHouse"
                                onclick="changeMarker('childSafetyHouse')">
                                <img src="static/icon/childSafetyHouse.png" alt="아동 안전 지킴이 집"
                                     title='아동 안전 지킴이 집'/>
                            </li>
                            <li class="menu_selected_good" id="CCTV" onclick="changeMarker('CCTV')">
                                <img src="static/icon/cctv.png" alt="CCTV" title='CCTV'>
                            </li>
                        </ul>
                    </div>
                    <div class="row" id='search' >
                        <div class="col-md-5">
                            <div class="option">
                                <div>
                                    <form onsubmit="searchPlaces(); return false;" style="display: inline">
                                        <input type="text" id="keyword" size="30" placeholder="출발지점">
                                        <button class="btn btn-orange"
                                                style="padding: 0; width:100px; height: 30px;background: #ff6028;"
                                                type="submit">검색
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <button id="run" type="button" class="btn btn-default btn-icon-anim btn-circle btn-sm help" style="display: inline"><i class="fa fa-question"></i></button>
                        </div>
                        <div id="second" class="col-md-5" style="display:none;">
                            <div class="option">
                                <div>
                                    <form onsubmit="searchPlaces1(); return false;">
                                        <input type="text" id="keyword1" size="30" placeholder="도착지점">
                                        <button class="btn btn-orange"
                                                style="padding: 0; width:100px; height: 30px;background: #ff6028;"
                                                type="submit">검색
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div id="map_div">
                    </div>
                    <div style="display:block; margin-left: auto; margin-right: auto;">
                        <table id="analysis" style="width:540px;margin-left: auto;  margin-right: auto;vertical-align:middle;">
                            <tr>
                                <th class="badbad"><img src="static/icon/schoolZone.png" alt="스쿨존 교통사고 다발지역"
                                                        title='스쿨존 어린이 교통사고 다발지역' style="margin-left: 7px;"/></th>
                                <th class="badbad"><img src="static/icon/construction.png" alt="공사현장"
                                                        title='공사현장'/></th>
                                <th class="badbad"><img src="static/icon/motel.png" alt="모텔" title='모텔'/>
                                </th>
                                <th class="badbad"><img src="static/icon/childPedestrianAccident.png"
                                                        alt="어린이 보행자 사고다발구역" title='어린이 보행자 사고다발구역'/></th>
                                <th class="badbad"><img src="static/icon/roomSalon.png" alt="유흥주점"
                                                        title='유흥주점' style="margin-right: 7px;"/></th>
                                <th class="goodgood"><img src="static/icon/childSafetyZone.png"
                                                          alt="어린이 안전 구역"
                                                          title='어린이 안전구역' style="margin-left: 7px;"/></th>
                                <th class="goodgood"><img src="static/icon/fireStation.png" alt="소방서"
                                                          title='소방서'/></th>
                                <th class="goodgood"><img src="static/icon/fireStationSafetyCenter.png"
                                                          alt="119 안전센터" title='119 안전센터'/></th>
                                <th class="goodgood"><img src="static/icon/elementarySchool.png" alt="초등학교"
                                                          title='초등학교'/></th>
                                <th class="goodgood"><img src="static/icon/playGround.png" alt="어린이 놀이터"
                                                          title='어린이 놀이터'/></th>
                                <th class="goodgood"><img src="static/icon/policeOffice.png" alt="경찰서"
                                                          title='경찰서'/></th>
                                <th class="goodgood"><img src="static/icon/kindergarten.png" alt="유치원"
                                                          title='유치원'/></th>
                                <th class="goodgood"><img src="static/icon/childSafetyHouse.png"
                                                          alt="아동 안전 지킴이 집" title='아동 안전 지킴이 집'/></th>
                                <th class="goodgood"><img src="static/icon/cctv.png" alt="CCTV"
                                                          title='CCTV' style="margin-right: 7px;"/>
                                </th>
                            </tr>
                            <tr style="text-align: center; font-weight: bold;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=64cbb963329cba1fbb26f4d974a3bc12&libraries=services"></script>
    <script src="https://api2.sktelecom.com/tmap/js?version=1&format=javascript&appKey=71255fea-c093-4b42-97bf-ac34d162bc0e"></script>
    <script>
        var marker_s1, marker_s2, markerStartLayer, markerEndLayer, s1_lon, s1_lat, s1_pix, s2_lon, s2_lat, s2_pix,
            kmlForm, s3_lon, s3_lat, s3_pix, search1_y, search1_x, search2_x, search2_y;
        var my_lat, my_lon;
        var pointFeature = [];
        var markerCluster;
        var schoolZonecounter = 0;
        var constructioncounter = 0;
        var childPedestrianAccidentcounter = 0;
        var childSafetyZonecounter = 0;
        var fireStationcounter = 0;
        var fireStationSafetyCentercounter = 0;
        var policeOfficecounter = 0;
        var roomSaloncounter = 0;
        var childSafetyHousecounter = 0;
        var motelcounter = 0;
        var playGroundcounter = 0;
        var elementarySchoolcounter = 0;
        var kindergartencounter = 0;
        var cctvcounter = 0;
        var predict = 0;

        function counterinit() {
            schoolZonecounter = 0;
            constructioncounter = 0;
            childPedestrianAccidentcounter = 0;
            childSafetyZonecounter = 0;
            fireStationcounter = 0;
            fireStationSafetyCentercounter = 0;
            policeOfficecounter = 0;
            roomSaloncounter = 0;
            childSafetyHousecounter = 0;
            motelcounter = 0;
            playGroundcounter = 0;
            elementarySchoolcounter = 0;
            kindergartencounter = 0;
            cctvcounter = 0;
        }

        map = new Tmap.Map({
            div: 'map_div',// map을 표시해줄 div
            width: "100%",// map의 width 설정
            height: "600px",// map의 height 설정
        });


        // 1. 지도 띄우기
        // map 생성
        // Tmap.map을 이용하여, 지도가 들어갈 div, 넓이, 높이를 설정합니다.

        var mark10 = {{ mark | tojson | safe }};
        var routeLayer = new Tmap.Layer.Vector("route");
        var pointLayer = new Tmap.Layer.Vector("point");
        var vector_layer = new Tmap.Layer.Vector('Tmap Vector Layer');
        var schoolZonemarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(schoolZonemarkerLayer);
        var constructionmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(constructionmarkerLayer);
        var childPedestrianAccidentmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(childPedestrianAccidentmarkerLayer);
        var childSafetyZonemarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(childSafetyZonemarkerLayer);
        var fireStationmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(fireStationmarkerLayer);
        var fireStationSafetyCentermarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(fireStationSafetyCentermarkerLayer);
        var policeOfficemarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(policeOfficemarkerLayer);
        var roomSalonmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(roomSalonmarkerLayer);
        var childSafetyHousemarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(childSafetyHousemarkerLayer);
        var motelmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(motelmarkerLayer);
        var playGroundmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(playGroundmarkerLayer);
        var elementarySchoolmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(elementarySchoolmarkerLayer);
        var kindergartenmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(kindergartenmarkerLayer);
        var cctvmarkerLayer = new Tmap.Layer.Markers();
        map.addLayer(cctvmarkerLayer);


        map.addLayer(routeLayer);
        map.addLayer(pointLayer);
        map.addLayer(vector_layer);
        markerStartLayer = new Tmap.Layer.Markers();
        markerEndLayer = new Tmap.Layer.Markers();
        map.addLayer(markerStartLayer);
        map.addLayer(markerEndLayer);
        var center_layer = new Tmap.Layer.Vector('Tmap center Layer'); // 백터 레이어 생성
        map.addLayers([center_layer]); // 지도에 백터 레이어 추가
        var sel = document.getElementById("sel");
        var val = sel.options[sel.selectedIndex].value;
        var state = true;
        document.getElementById("Tmap_Map_7_Tmap_Container").onmouseup = function () {
            mouseUp(val)
        };

        function onGeolocationSuccess(position) { // 좌표 출력
            my_lat = position.coords.latitude;
            my_lon = position.coords.longitude;

            var params = "my_lat=" + my_lat + "&my_lon=" + my_lon;
            $.ajax({
                type: "GET",
                url: "/location",
                data: params,
                success: function (data) {
                    map.setCenter(new Tmap.LonLat(my_lon, my_lat).transform("EPSG:4326", "EPSG:3857"), 15);//설정한 좌표를 "EPSG:3857"로 좌표변환한 좌표값으로 즁심점을 설정합니다.
                    sel = document.getElementById("sel");
                    val = sel.options[sel.selectedIndex].value;
                    document.getElementById("Tmap_Map_7_Tmap_Container").onmouseup = function () {
                        mouseUp(val)
                    };
                    state = true;
                    mouseUp(val);

                },
            });

        }

        function onGeolocationFail(error) { // 에러 출력
            console.log("Error Code: " + error.code + ", Error Description: " + error.message);
        }

        location2();

        function location2() {
            if (navigator.geolocation) { // 정확한 위치 사용 // 캐시 사용 안함 // timeout 3초 (3000ms)
                var positionOptions = {enableHighAccuracy: true, maximumAge: 0, timeout: 3000};
                navigator.geolocation.getCurrentPosition(onGeolocationSuccess, onGeolocationFail, positionOptions);
            }
        }


        function chageLangSelect() {
            sel = document.getElementById("sel");
            val = sel.options[sel.selectedIndex].value;
            mouseUp(val);
        }

        function start(val) {
            var checkBox = document.getElementById("myCheck");
            // Get the output text

            if (checkBox.value == 1 && state == false) {
                state = true;
                document.getElementById("myCheck").style.backgroundColor = "#ff6028";
                document.getElementById("myCheck").style.color = "#FFFFFF";
                document.getElementById("myCheck").value = 0;
                val = sel.options[sel.selectedIndex].value;
                document.getElementById("analysis").style.display = "block";
                document.getElementById("predict").style.display = "block";
                mouseUp(val);
                vector_layer.removeAllFeatures();
                routeLayer.removeFeatures(kmlForm);
                pointLayer.removeAllFeatures();
                vector_layer.removeAllFeatures();
                markerStartLayer.removeMarker(marker_s1);
                markerEndLayer.removeMarker(marker_s2);
            } else {
                state = false;
                document.getElementById("myCheck").style.backgroundColor = "#FFFFFF";
                document.getElementById("myCheck").style.color = "#123456";
                document.getElementById("myCheck").value = 1;
                center_layer.removeAllFeatures();
                deletemarker();
                document.getElementById("analysis").style.display = "none";
                document.getElementById("predict").style.display = "none";
            }
        }

        function calculateDistance(lat1, lon1, lat2, lon2) {
            if (typeof(Number.prototype.toRad) === "undefined") {
                Number.prototype.toRad = function () {
                    return this * Math.PI / 180;
                }
            }
            var R = 6371; // km
            var dLat = (lat2 - lat1).toRad();
            var dLon = (lon2 - lon1).toRad();
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c;
            return d;
        }

        function mouseUp(val) {
            if (state == true) {
                center_layer.removeAllFeatures();
                var center = map.getCenter();
                var center_temp = map.getCenter().transform("EPSG:3857", "EPSG:4326");
                var circle = new Tmap.Geometry.Circle(center.lon, center.lat, val, {unit: "m"}); // 원 생성
                // 지도상에 그려질 스타일을 설정합니다
                var style_red = {
                    fillColor: "#FF1234",
                    fillOpacity: 0.2,
                    strokeColor: "#FF1234",
                    strokeWidth: 3,
                    strokeDashstyle: "solid",
                    pointRadius: 60
                };
                var circleFeature = new Tmap.Feature.Vector(circle, null, style_red); // 원 백터 생성
                center_layer.addFeatures([circleFeature]); // 원 백터 를 백터 레이어에 추가

                deletemarker();


                var positions = [];

                for (var i = 0; i < mark10.length; i++) {
                    temp_lat = mark10[i]['lat'];
                    temp_lon = mark10[i]['lng'];
                    var d = calculateDistance(temp_lat, temp_lon, center_temp.lat, center_temp.lon);
                    if (val * 0.001 > d) {
                        positions.push({
                            category: mark10[i]['title'],
                            title: mark10[i]['infobox'],
                            lonlat: new Tmap.LonLat(temp_lon, temp_lat).transform("EPSG:4326", "EPSG:3857"),//좌표 지정
                            icon: mark10[i]['icon'],
                        });

                    }
                }
                var size = new Tmap.Size(17, 17);//아이콘 크기
                var offset = new Tmap.Pixel(-(size.w / 2), -(size.h));//아이콘 중심점
                counterinit();
                for (var i = 0; i < positions.length; i++) {//for문을 통하여 배열 안에 있는 값을 마커 생성
                    var icon = new Tmap.Icon(positions[i].icon, size, offset);//아이콘 설정
                    var lonlat = positions[i].lonlat;//좌표값
                    marker = new Tmap.Marker(lonlat, icon);//마커 생성

                    if (positions[i].category == "schoolZone") {
                        schoolZonemarkerLayer.addMarker(marker);
                        schoolZonecounter++;
                    }
                    else if (positions[i].category == "construction") {
                        constructionmarkerLayer.addMarker(marker);
                        constructioncounter++;
                    }
                    else if (positions[i].category == "childPedestrianAccident") {
                        childPedestrianAccidentmarkerLayer.addMarker(marker);
                        childPedestrianAccidentcounter++;
                    }
                    else if (positions[i].category == "childSafetyZone") {
                        childSafetyZonemarkerLayer.addMarker(marker);
                        childSafetyZonecounter++;
                    }
                    else if (positions[i].category == "fireStation") {
                        fireStationmarkerLayer.addMarker(marker);
                        fireStationcounter++;
                    }
                    else if (positions[i].category == "fireStationSafetyCenter") {
                        fireStationSafetyCentermarkerLayer.addMarker(marker);
                        fireStationSafetyCentercounter++;
                    }
                    else if (positions[i].category == "policeOffice") {
                        policeOfficemarkerLayer.addMarker(marker);
                        policeOfficecounter++;
                    }
                    else if (positions[i].category == "roomSalon") {
                        roomSalonmarkerLayer.addMarker(marker);
                        roomSaloncounter++;
                    }
                    else if (positions[i].category == "childSafetyHouse") {
                        childSafetyHousemarkerLayer.addMarker(marker);
                        childSafetyHousecounter++;
                    }
                    else if (positions[i].category == "motel") {
                        motelmarkerLayer.addMarker(marker);
                        motelcounter++;
                    }
                    else if (positions[i].category == "playGround") {
                        playGroundmarkerLayer.addMarker(marker);
                        playGroundcounter++;
                    }
                    else if (positions[i].category == "elementarySchool") {
                        elementarySchoolmarkerLayer.addMarker(marker);
                        elementarySchoolcounter++;
                    }
                    else if (positions[i].category == "kindergarten") {
                        kindergartenmarkerLayer.addMarker(marker);
                        kindergartencounter++;
                    }
                    else if (positions[i].category == "cctv") {
                        cctvmarkerLayer.addMarker(marker);
                        cctvcounter++;

                    }
                    //마커 레이어에 마커 추가
                }
                var area = val * val * 3.14;
                countfeacture(area);

            }
        }


        function changeMarker(info) {
            var Menu = document.getElementById(info);

            //이미 선택되어있으면 해당마커가 안보이게 설정
            if (Menu.className === 'menu_selected_bad' || Menu.className === 'menu_selected_good') {
                Menu.className = '';
                if (info == "schoolZone") {
                    schoolZonemarkerLayer.setVisibility(false); // 레이어의 화면 표출 여부
                }
                else if (info == "construction") {
                    constructionmarkerLayer.setVisibility(false);
                }
                else if (info == "childPedestrianAccident") {
                    childPedestrianAccidentmarkerLayer.setVisibility(false);
                }
                else if (info == "roomSalon") {
                    roomSalonmarkerLayer.setVisibility(false);
                }
                else if (info == "motel") {
                    motelmarkerLayer.setVisibility(false);
                }
                else if (info == "childSafetyZone") {
                    childSafetyZonemarkerLayer.setVisibility(false);
                }
                else if (info == "fireStation") {
                    fireStationmarkerLayer.setVisibility(false);
                }
                else if (info == "fireStationSafetyCenter") {
                    fireStationSafetyCentermarkerLayer.setVisibility(false);
                }
                else if (info == "policeOffice") {
                    policeOfficemarkerLayer.setVisibility(false);
                }

                else if (info == "childSafetyHouse") {
                    childSafetyHousemarkerLayer.setVisibility(false);
                }

                else if (info == "playGround") {
                    playGroundmarkerLayer.setVisibility(false);
                }
                else if (info == "elementarySchool") {
                    elementarySchoolmarkerLayer.setVisibility(false);
                }
                else if (info == "kindergarten") {
                    kindergartenmarkerLayer.setVisibility(false);
                }
                else if (info == "CCTV") {
                    cctvmarkerLayer.setVisibility(false);
                }
            }
            else {
                //그것이 아니면 선택되고 해당되는 마커가 보이게 설정
                if (info === 'kindergarten' ||
                    info === 'fireStation' ||
                    info === 'fireStationSafetyCenter' ||
                    info === 'playGround' ||
                    info === 'policeOffice' ||
                    info === 'elementarySchool' ||
                    info === 'childSafetyHouse' ||
                    info === 'childSafetyZone' ||
                    info === 'CCTV') {
                    Menu.className = 'menu_selected_good';

                    if (info == "fireStation") {
                        fireStationmarkerLayer.setVisibility(true);
                    }
                    else if (info == "fireStationSafetyCenter") {
                        fireStationSafetyCentermarkerLayer.setVisibility(true);
                    }
                    else if (info == "policeOffice") {
                        policeOfficemarkerLayer.setVisibility(true);
                    }
                    else if (info == "childSafetyHouse") {
                        childSafetyHousemarkerLayer.setVisibility(true);
                    }
                    else if (info == "playGround") {
                        playGroundmarkerLayer.setVisibility(true);
                    }
                    else if (info == "elementarySchool") {
                        elementarySchoolmarkerLayer.setVisibility(true);
                    }
                    else if (info == "kindergarten") {
                        kindergartenmarkerLayer.setVisibility(true);
                    }
                    else if (info == "CCTV") {
                        cctvmarkerLayer.setVisibility(true);
                    }
                    else if (info == "childSafetyZone") {
                        childSafetyZonemarkerLayer.setVisibility(true);
                    }
                }
                else {
                    Menu.className = 'menu_selected_bad';

                    if (info == "schoolZone") {
                        schoolZonemarkerLayer.setVisibility(true); // 레이어의 화면 표출 여부
                    }
                    else if (info == "construction") {
                        constructionmarkerLayer.setVisibility(true);
                    }
                    else if (info == "childPedestrianAccident") {
                        childPedestrianAccidentmarkerLayer.setVisibility(true);
                    }
                    else if (info == "roomSalon") {
                        roomSalonmarkerLayer.setVisibility(true);
                    }
                    else if (info == "motel") {
                        motelmarkerLayer.setVisibility(true);
                    }
                }
            }
        }

        //마커가 보이게 설정되어있으면 true 반환하고 아니면 false 반환
        function isSelected(info) {
            var Menu = document.getElementById(info);

            if (Menu.className === 'menu_selected_good' || Menu.className === 'menu_selected_bad') {
                return true
            }
            else {
                return false
            }
        }

        function deletemarker() {
            schoolZonemarkerLayer.clearMarkers();

            constructionmarkerLayer.clearMarkers();

            childPedestrianAccidentmarkerLayer.clearMarkers();

            fireStationmarkerLayer.clearMarkers();
            fireStationSafetyCentermarkerLayer.clearMarkers();
            policeOfficemarkerLayer.clearMarkers();
            roomSalonmarkerLayer.clearMarkers();

            childSafetyHousemarkerLayer.clearMarkers();

            motelmarkerLayer.clearMarkers();
            playGroundmarkerLayer.clearMarkers();

            elementarySchoolmarkerLayer.clearMarkers();

            kindergartenmarkerLayer.clearMarkers();

            childSafetyZonemarkerLayer.clearMarkers();

            cctvmarkerLayer.clearMarkers();

        }

        function countfeacture(area) {
            var myTable = document.getElementById('analysis');
            myTable.rows[1].cells[0].innerHTML = schoolZonecounter;
            myTable.rows[1].cells[1].innerHTML = constructioncounter;
            myTable.rows[1].cells[2].innerHTML = motelcounter;
            myTable.rows[1].cells[3].innerHTML = childPedestrianAccidentcounter;
            myTable.rows[1].cells[4].innerHTML = roomSaloncounter;
            myTable.rows[1].cells[5].innerHTML = childSafetyZonecounter;
            myTable.rows[1].cells[6].innerHTML = fireStationcounter;
            myTable.rows[1].cells[7].innerHTML = fireStationSafetyCentercounter;
            myTable.rows[1].cells[8].innerHTML = elementarySchoolcounter;
            myTable.rows[1].cells[9].innerHTML = playGroundcounter;
            myTable.rows[1].cells[10].innerHTML = policeOfficecounter;
            myTable.rows[1].cells[11].innerHTML = kindergartencounter;
            myTable.rows[1].cells[12].innerHTML = childSafetyHousecounter;
            myTable.rows[1].cells[13].innerHTML = cctvcounter;

            var params = "feacture=" + [policeOfficecounter, motelcounter, constructioncounter, cctvcounter, playGroundcounter, childSafetyHousecounter, childSafetyZonecounter, elementarySchoolcounter + kindergartencounter, roomSaloncounter] + "&area=" + area;
            $.ajax({
                type: "GET",
                url: "/predict",
                data: params,
                success: function (data) {
                    predict = data;
                },

            });
            if (predict == '"0"' | predict == "0") {
                document.getElementById("predict").innerHTML = "안전";
                document.getElementById("predict").style.backgroundColor = "#6cea90";
            } else if (predict == '"1"' | predict == "1") {
                document.getElementById("predict").innerHTML = "주의";
                document.getElementById("predict").style.backgroundColor = "#F9FF05";
            } else {
                document.getElementById("predict").innerHTML = "위험";
                document.getElementById("predict").style.backgroundColor = "#FF5F4A";

            }

        }

        var ps = new daum.maps.services.Places();

        // 키워드 검색을 요청하는 함수입니다
        function searchPlaces() {

            var keyword = document.getElementById("keyword").value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }

            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다

            ps.keywordSearch(keyword, placesSearchCB1);

        }

        function searchPlaces1() {

            var keyword = document.getElementById("keyword1").value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }

            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다

            ps.keywordSearch(keyword, placesSearchCB2);

        }

        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
        function placesSearchCB1(data, status, pagination) {
            if (status === daum.maps.services.Status.OK) {

                document.getElementById("second").style.display = "block";
                search1_x = data[0]['x'];
                search1_y = data[0]['y'];
                console.log(search1_x);
                console.log(search1_y);
                s1_lon = search1_x;
                s1_lat = search1_y;
                routeLayer.removeFeatures(kmlForm);
                pointLayer.removeAllFeatures();
                vector_layer.removeAllFeatures();

                deletemarker();

                markerStartLayer.removeMarker(marker_s1);
                markerEndLayer.removeMarker(marker_s2);
                markerStartLayer = new Tmap.Layer.Markers("start");//마커 레이어 생성
                map.addLayer(markerStartLayer);//map에 마커 레이어 추가


                var size = new Tmap.Size(24, 38);//아이콘 크기 설정
                var offset = new Tmap.Pixel(-(size.w / 2), -size.h);//아이콘 중심점 설정
                var icon = new Tmap.IconHtml("<img src='http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_s.png' />", size, offset);//마커 아이콘 설정
                marker_s1 = new Tmap.Marker(new Tmap.LonLat(s1_lon, s1_lat).transform("EPSG:4326", "EPSG:3857"), icon);//설정한 좌표를 "EPSG:3857"로 좌표변환한 좌표값으로 설정합니다.
                markerStartLayer.addMarker(marker_s1);//마커 레이어에 마커 추가
                s1_pix = new Tmap.Geometry.Point(s1_lon, s1_lat).transform("EPSG:4326", "EPSG:3857");
                map.setCenter(new Tmap.LonLat(s1_lon, s1_lat).transform("EPSG:4326", "EPSG:3857"), 15);//설정한 좌표를 "EPSG:3857"로 좌표변환한 좌표값으로 즁심점을 설정합니다.

                mouseUp(val);

            } else if (status === daum.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');


            } else if (status === daum.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');


            }
        }

        function placesSearchCB2(data, status, pagination) {
            if (status === daum.maps.services.Status.OK) {


                document.getElementById("second").style.display = "none";
                search2_x = data[0]['x'];
                search2_y = data[0]['y'];

                checkBox = document.getElementById("myCheck");
                document.getElementById("myCheck").value = 0;
                state = false;
                start(val);
                document.getElementById("predict").style.display = "block"; // predict div 생성
                s2_lat = search2_y;
                s2_lon = search2_x;
                markerEndLayer = new Tmap.Layer.Markers("end");//마커 레이어 생성
                map.addLayer(markerEndLayer);//map에 마커 레이어 추가

                var size = new Tmap.Size(24, 38);//아이콘 크기 설정
                var offset = new Tmap.Pixel(-(size.w / 2), -size.h);//아이콘 중심점 설정
                var icon = new Tmap.IconHtml("<img src='http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_e.png' />", size, offset);//마커 아이콘 설정
                marker_s2 = new Tmap.Marker(new Tmap.LonLat(s2_lon, s2_lat).transform("EPSG:4326", "EPSG:3857"), icon);//설정한 좌표를 "EPSG:3857"로 좌표변환한 좌표값으로 설정합니다.
                markerEndLayer.addMarker(marker_s2);//마커 레이어에 마커 추가
                s2_pix = new Tmap.Geometry.Point(s2_lon, s2_lat).transform("EPSG:4326", "EPSG:3857");
                map.setCenter(new Tmap.LonLat(s2_lon, s2_lat).transform("EPSG:4326", "EPSG:3857"), 15);//설정한 좌표를 "EPSG:3857"로 좌표변환한 좌표값으로 즁심점을 설정합니다.


                var startX = s1_lon;
                var startY = s1_lat;
                var endX = s2_lon;
                var endY = s2_lat;
                {#var passList = "126.983072,37.573028_126.987319,37.565778";#}
                var prtcl;
                var headers = {};
                headers["appKey"] = "71255fea-c093-4b42-97bf-ac34d162bc0e";
                $.ajax({
                    method: "POST",
                    headers: headers,
                    url: "https://api2.sktelecom.com/tmap/routes?version=1&format=xml",//
                    async: false,
                    data: {
                        startX: startX,
                        startY: startY,
                        endX: endX,
                        endY: endY,
                        {#passList : passList,#}
                        reqCoordType: "WGS84GEO",
                        resCoordType: "EPSG3857",
                        angle: "172",
                    },
                    success: function (response) {
                        prtcl = response;

                        // 5. 경로 탐색  결과 Line 그리기
                        //경로 탐색  결과 POINT 찍기
                        /* -------------- Geometry.Point -------------- */
                        var pointLayer = new Tmap.Layer.Vector("point");
                        var prtclString = new XMLSerializer().serializeToString(prtcl);//xml to String
                        xmlDoc = $.parseXML(prtclString),
                            $xml = $(xmlDoc),
                            $intRate = $xml.find("Placemark");
                        var style_red = {
                            fillColor: "#FF0000",
                            fillOpacity: 0.2,
                            strokeColor: "#FF0000",
                            strokeWidth: 3,
                            strokeDashstyle: "solid",
                            pointRadius: 2,
                            title: "this is a red line"
                        };
                        $intRate.each(function (index, element) {
                            var nodeType = element.getElementsByTagName("tmap:nodeType")[0].childNodes[0].nodeValue;
                            if (nodeType == "POINT") {
                                var point = element.getElementsByTagName("coordinates")[0].childNodes[0].nodeValue.split(',');
                                var geoPoint = new Tmap.Geometry.Point(point[0], point[1]);
                                pointFeature = new Tmap.Feature.Vector(geoPoint, null, style_red);
                                pointLayer.addFeatures([pointFeature]);
                            }
                        });

                        /* -------------- Geometry.Point -------------- */
                        //경로 탐색  결과 Line 그리기
                        routeLayer.style = {
                            fillColor: "#FF0000",
                            fillOpacity: 0.2,
                            strokeColor: "#FF0000",
                            strokeWidth: 3,
                            strokeDashstyle: "solid",
                            pointRadius: 2,
                            title: "this is a red line"
                        };
                        kmlForm = new Tmap.Format.KML().read(prtcl);
                        routeLayer.addFeatures(kmlForm);


                        startX *= 1;
                        startY *= 1;
                        endX *= 1;
                        endY *= 1;
                        s3_lat = (startY + endY) / 2;
                        s3_lon = (startX + endX) / 2;
                        s3_pix = (s2_pix.distanceTo(s1_pix)) / 2; //단위 m
                        var mark10 = {{ mark | tojson | safe }};
                        var coord = new Tmap.LonLat(s3_lon, s3_lat).transform("EPSG:4326", "EPSG:3857");
                        var circle = new Tmap.Geometry.Circle(coord.lon, coord.lat, s3_pix + 100); // 원 생성
                        var positions = [];

                        for (var i = 0; i < mark10.length; i++) {
                            temp_lat = mark10[i]['lat'];
                            temp_lon = mark10[i]['lng'];
                            var d = calculateDistance(temp_lat, temp_lon, s3_lat, s3_lon);
                            if (s3_pix * 0.001 > d * 1.3) {

                                positions.push({
                                    category: mark10[i]['title'],
                                    title: mark10[i]['infobox'],
                                    lonlat: new Tmap.LonLat(temp_lon, temp_lat).transform("EPSG:4326", "EPSG:3857"),//좌표 지정
                                    icon: mark10[i]['icon'],
                                });

                            }
                        }
                        var size = new Tmap.Size(12, 20);//아이콘 크기
                        var offset = new Tmap.Pixel(-(size.w / 2), -(size.h));//아이콘 중심점
                        counterinit();
                        for (var i = 0; i < positions.length; i++) {//for문을 통하여 배열 안에 있는 값을 마커 생성
                            var icon = new Tmap.Icon(positions[i].icon, size, offset);//아이콘 설정
                            var lonlat = positions[i].lonlat;//좌표값
                            marker = new Tmap.Marker(lonlat, icon);//마커 생성

                            if (positions[i].category == "schoolZone") {
                                schoolZonemarkerLayer.addMarker(marker);
                                schoolZonecounter++;
                            }
                            else if (positions[i].category == "construction") {
                                constructionmarkerLayer.addMarker(marker);
                                constructioncounter++;
                            }
                            else if (positions[i].category == "childPedestrianAccident") {
                                childPedestrianAccidentmarkerLayer.addMarker(marker);
                                childPedestrianAccidentcounter++;
                            }
                            else if (positions[i].category == "childSafetyZone") {
                                childSafetyZonemarkerLayer.addMarker(marker);
                                childSafetyZonecounter++;
                            }
                            else if (positions[i].category == "fireStation") {
                                fireStationmarkerLayer.addMarker(marker);
                                fireStationcounter++;
                            }
                            else if (positions[i].category == "fireStationSafetyCenter") {
                                fireStationSafetyCentermarkerLayer.addMarker(marker);
                                fireStationSafetyCentercounter++;
                            }
                            else if (positions[i].category == "policeOffice") {
                                policeOfficemarkerLayer.addMarker(marker);
                                policeOfficecounter++;
                            }
                            else if (positions[i].category == "roomSalon") {
                                roomSalonmarkerLayer.addMarker(marker);
                                roomSaloncounter++;
                            }
                            else if (positions[i].category == "childSafetyHouse") {
                                childSafetyHousemarkerLayer.addMarker(marker);
                                childSafetyHousecounter++;
                            }
                            else if (positions[i].category == "motel") {
                                motelmarkerLayer.addMarker(marker);
                                motelcounter++;
                            }
                            else if (positions[i].category == "playGround") {
                                playGroundmarkerLayer.addMarker(marker);
                                playGroundcounter++;
                            }
                            else if (positions[i].category == "elementarySchool") {
                                elementarySchoolmarkerLayer.addMarker(marker);
                                elementarySchoolcounter++;
                            }
                            else if (positions[i].category == "kindergarten") {
                                kindergartenmarkerLayer.addMarker(marker);
                                kindergartencounter++;
                            }
                            else if (positions[i].category == "cctv") {
                                cctvmarkerLayer.addMarker(marker);
                                cctvcounter++;
                            }
                            //마커 레이어에 마커 추가
                        }
                        document.getElementById("analysis").style.display = "block";
                        var area = val * val * 3.14;
                        countfeacture(area);

                        // 지도상에 그려질 스타일을 설정합니다
                        var style_red = {
                            fillColor: "#FF0000",
                            fillOpacity: 0.2,
                            strokeColor: "#FF0000",
                            strokeWidth: 3,
                            strokeDashstyle: "solid",
                            pointRadius: 60
                        };
                        var circleFeature = new Tmap.Feature.Vector(circle, null, style_red); // 원 백터 생성
                        vector_layer.addFeatures([circleFeature]); // 원 백터 를 백터 레이어에 추가


                        map.zoomToExtent(vector_layer.getDataExtent());

                    }, error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                });

            } else if (status === daum.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');


            } else if (status === daum.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');


            }
        }
    </script>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcodec() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullAddr = ''; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수
                    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        fullAddr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        fullAddr = data.jibunAddress;
                    }
                    // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                    if (data.userSelectedType === 'R') {
                        //법정동명이 있을 경우 추가한다.
                        if (data.bname !== '') {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if (data.buildingName !== '') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                    }
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode4').value = data.zonecode; //5자리 새우편번호 사용
                    document.getElementById('address7').value = fullAddr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById('address8').focus();
                }
            }).open();
        }
    </script>
    <script type="text/javaScript">
        $(function () {
            $('#run').on('click', function () {
                $.ptJs({
                    autoStart: true,
                    steps: [
                        {
                            el: '#map_div',
                            templateData: {
                                title: '지도',
                                content: '현재위치와 검색결과가 나타납니다.'
                            }
                        },
                        {
                            el: '#category3',
                            templateData: {
                                title: '현위치 검색',
                                content: '자신의 현재위치로 이동합니다.'
                            }
                        },
                        {
                            el: '#category2',
                            templateData: {
                                title: '안전등급',
                                content: '현재 보고있는 위치의 안전등급을 보여줍니다. on/off가 가능합니다.'
                            }
                        },
                        {
                            el: '#category1',
                            templateData: {
                                title: '반경설정',
                                content: '반경 몇 km까지 보여줄지 설정하는 부분입니다.'
                            }
                        },
                        {
                            el: '#category',
                            templateData: {
                                title: '필터',
                                content: '아이콘 위에 마우스 커서를 올리면 해당 아이콘의 이름을 보여줍니다. 또한 클릭하여 지도에서 안보이게 할 수 있습니다.'
                            }
                        },
                        {
                            el: '#analysis',
                            templateData: {
                                title: '위험&안전요소 확인',
                                content: '원 안에 각각 몇개의 마커들이 있는지 보여줍니다.'
                            }
                        },
                        {
                            el: '#predict',
                            templateData: {
                                title: '안전등급 확인',
                                content: '등급은 "안전", "주의", "위험" 3단계로 나누어집니다.'
                            }
                        },
                        {
                            el: '#keyword',
                            templateData: {
                                title: '길찾기',
                                content: ' 출발지를 입력하면 도착지 입력화면이 나타납니다.'
                            }
                        },
                    ]
                });
            });
        });
    </script>
{% endblock script %}