# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.DS_Store
.idea/workspace.xml
static/.DS_Store
venv/include/
venv/lib/python3.6/site-packages/__pycache__/
venv/lib/python3.6/site-packages/blinker/__pycache__/
venv/lib/python3.6/site-packages/bson/__pycache__/
venv/lib/python3.6/site-packages/click/__pycache__/
venv/lib/python3.6/site-packages/dateutil/__pycache__/
venv/lib/python3.6/site-packages/dateutil/parser/__pycache__/
venv/lib/python3.6/site-packages/dateutil/tz/__pycache__/
venv/lib/python3.6/site-packages/dateutil/zoneinfo/__pycache__/
venv/lib/python3.6/site-packages/flask/__pycache__/
venv/lib/python3.6/site-packages/flask/json/__pycache__/
venv/lib/python3.6/site-packages/flask_caching/__pycache__/
venv/lib/python3.6/site-packages/flask_caching/backends/__pycache__/
venv/lib/python3.6/site-packages/flask_sitemap/__pycache__/
venv/lib/python3.6/site-packages/gridfs/__pycache__/
venv/lib/python3.6/site-packages/jinja2/__pycache__/
venv/lib/python3.6/site-packages/markupsafe/__pycache__/
venv/lib/python3.6/site-packages/numpy/__pycache__/
venv/lib/python3.6/site-packages/numpy/compat/__pycache__/
venv/lib/python3.6/site-packages/numpy/compat/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/core/__pycache__/
venv/lib/python3.6/site-packages/numpy/core/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/distutils/__pycache__/
venv/lib/python3.6/site-packages/numpy/distutils/command/__pycache__/
venv/lib/python3.6/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/lib/python3.6/site-packages/numpy/distutils/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/doc/__pycache__/
venv/lib/python3.6/site-packages/numpy/f2py/__pycache__/
venv/lib/python3.6/site-packages/numpy/f2py/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/fft/__pycache__/
venv/lib/python3.6/site-packages/numpy/fft/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/lib/__pycache__/
venv/lib/python3.6/site-packages/numpy/lib/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/linalg/__pycache__/
venv/lib/python3.6/site-packages/numpy/linalg/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/ma/__pycache__/
venv/lib/python3.6/site-packages/numpy/ma/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/matrixlib/__pycache__/
venv/lib/python3.6/site-packages/numpy/matrixlib/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/polynomial/__pycache__/
venv/lib/python3.6/site-packages/numpy/polynomial/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/random/__pycache__/
venv/lib/python3.6/site-packages/numpy/random/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/testing/__pycache__/
venv/lib/python3.6/site-packages/numpy/testing/_private/__pycache__/
venv/lib/python3.6/site-packages/numpy/testing/tests/__pycache__/
venv/lib/python3.6/site-packages/numpy/tests/__pycache__/
venv/lib/python3.6/site-packages/pandas/__pycache__/
venv/lib/python3.6/site-packages/pandas/_libs/__pycache__/
venv/lib/python3.6/site-packages/pandas/_libs/tslibs/__pycache__/
venv/lib/python3.6/site-packages/pandas/api/__pycache__/
venv/lib/python3.6/site-packages/pandas/api/extensions/__pycache__/
venv/lib/python3.6/site-packages/pandas/api/types/__pycache__/
venv/lib/python3.6/site-packages/pandas/compat/__pycache__/
venv/lib/python3.6/site-packages/pandas/compat/numpy/__pycache__/
venv/lib/python3.6/site-packages/pandas/computation/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/arrays/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/computation/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/dtypes/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/groupby/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/indexes/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/reshape/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/sparse/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/tools/__pycache__/
venv/lib/python3.6/site-packages/pandas/core/util/__pycache__/
venv/lib/python3.6/site-packages/pandas/errors/__pycache__/
venv/lib/python3.6/site-packages/pandas/formats/__pycache__/
venv/lib/python3.6/site-packages/pandas/io/__pycache__/
venv/lib/python3.6/site-packages/pandas/io/clipboard/__pycache__/
venv/lib/python3.6/site-packages/pandas/io/formats/__pycache__/
venv/lib/python3.6/site-packages/pandas/io/json/__pycache__/
venv/lib/python3.6/site-packages/pandas/io/msgpack/__pycache__/
venv/lib/python3.6/site-packages/pandas/io/sas/__pycache__/
venv/lib/python3.6/site-packages/pandas/plotting/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/api/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/categorical/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/computation/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/dtypes/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/extension/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/extension/base/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/extension/category/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/extension/decimal/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/extension/json/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/frame/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/generic/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/groupby/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/groupby/aggregate/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/indexes/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/indexes/datetimes/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/indexes/interval/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/indexes/period/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/indexes/timedeltas/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/indexing/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/indexing/interval/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/internals/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/io/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/io/formats/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/io/json/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/io/msgpack/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/io/parser/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/io/sas/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/plotting/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/reshape/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/reshape/merge/__py
cache__/
venv/lib/python3.6/site-packages/pandas/tests/scalar/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/scalar/interval/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/scalar/period/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/scalar/timedelta/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/scalar/timestamp/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/series/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/series/indexing/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/sparse/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/sparse/frame/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/sparse/series/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/tools/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/tseries/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/tseries/offsets/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/tslibs/__pycache__/
venv/lib/python3.6/site-packages/pandas/tests/util/__pycache__/
venv/lib/python3.6/site-packages/pandas/tools/__pycache__/
venv/lib/python3.6/site-packages/pandas/tseries/__pycache__/
venv/lib/python3.6/site-packages/pandas/types/__pycache__/
venv/lib/python3.6/site-packages/pandas/util/__pycache__/
venv/lib/python3.6/site-packages/pymongo/__pycache__/
venv/lib/python3.6/site-packages/pytz/__pycache__/
venv/lib/python3.6/site-packages/scipy/__pycache__/
venv/lib/python3.6/site-packages/scipy/_build_utils/__pycache__/
venv/lib/python3.6/site-packages/scipy/_lib/__pycache__/
venv/lib/python3.6/site-packages/scipy/_lib/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/cluster/__pycache__/
venv/lib/python3.6/site-packages/scipy/cluster/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/constants/__pycache__/
venv/lib/python3.6/site-packages/scipy/constants/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/fftpack/__pycache__/
venv/lib/python3.6/site-packages/scipy/fftpack/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/integrate/__pycache__/
venv/lib/python3.6/site-packages/scipy/integrate/_ivp/__pycache__/
venv/lib/python3.6/site-packages/scipy/integrate/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/interpolate/__pycache__/
venv/lib/python3.6/site-packages/scipy/interpolate/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/arff/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/arff/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/harwell_boeing/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/harwell_boeing/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/matlab/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/matlab/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/io/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/linalg/__pycache__/
venv/lib/python3.6/site-packages/scipy/linalg/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/misc/__pycache__/
venv/lib/python3.6/site-packages/scipy/misc/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/ndimage/__pycache__/
venv/lib/python3.6/site-packages/scipy/ndimage/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/odr/__pycache__/
venv/lib/python3.6/site-packages/scipy/odr/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/optimize/__pycache__/
venv/lib/python3.6/site-packages/scipy/optimize/_lsq/__pycache__/
venv/lib/python3.6/site-packages/scipy/optimize/_trlib/__pycache__/
venv/lib/python3.6/site-packages/scipy/optimize/_trustregion_constr/__pycache__/
venv/lib/python3.6/site-packages/scipy/optimize/_trustregion_constr/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/optimize/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/signal/__pycache__/
venv/lib/python3.6/site-packages/scipy/signal/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/signal/windows/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/csgraph/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/csgraph/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/dsolve/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/dsolve/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/eigen/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/eigen/arpack/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/eigen/arpack/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/eigen/lobpcg/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/eigen/lobpcg/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/isolve/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/isolve/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/linalg/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/sparse/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/spatial/__pycache__/
venv/lib/python3.6/site-packages/scipy/spatial/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/special/__pycache__/
venv/lib/python3.6/site-packages/scipy/special/_precompute/__pycache__/
venv/lib/python3.6/site-packages/scipy/special/tests/__pycache__/
venv/lib/python3.6/site-packages/scipy/stats/__pycache__/
venv/lib/python3.6/site-packages/scipy/stats/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/__check_build/__pycache__/
venv/lib/python3.6/site-packages/sklearn/__pycache__/
venv/lib/python3.6/site-packages/sklearn/_build_utils/__pycache__/
venv/lib/python3.6/site-packages/sklearn/cluster/__pycache__/
venv/lib/python3.6/site-packages/sklearn/cluster/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/covariance/__pycache__/
venv/lib/python3.6/site-packages/sklearn/covariance/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/cross_decomposition/__pycache__/
venv/lib/python3.6/site-packages/sklearn/cross_decomposition/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/datasets/__pycache__/
venv/lib/python3.6/site-packages/sklearn/datasets/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/decomposition/__pycache__/
venv/lib/python3.6/site-packages/sklearn/decomposition/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/ensemble/__pycache__/
venv/lib/python3.6/site-packages/sklearn/ensemble/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/externals/__pycache__/
venv/lib/python3.6/site-packages/sklearn/externals/joblib/__pycache__/
venv/lib/python3.6/site-packages/sklearn/feature_extraction/__pycache__/
venv/lib/python3.6/site-packages/sklearn/feature_extraction/tests/__pycache__/
venv/lib/python3
.6/site-packages/sklearn/feature_selection/__pycache__/
venv/lib/python3.6/site-packages/sklearn/feature_selection/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/gaussian_process/__pycache__/
venv/lib/python3.6/site-packages/sklearn/gaussian_process/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/linear_model/__pycache__/
venv/lib/python3.6/site-packages/sklearn/linear_model/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/manifold/__pycache__/
venv/lib/python3.6/site-packages/sklearn/manifold/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/metrics/__pycache__/
venv/lib/python3.6/site-packages/sklearn/metrics/cluster/__pycache__/
venv/lib/python3.6/site-packages/sklearn/metrics/cluster/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/metrics/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/mixture/__pycache__/
venv/lib/python3.6/site-packages/sklearn/mixture/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/model_selection/__pycache__/
venv/lib/python3.6/site-packages/sklearn/model_selection/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/neighbors/__pycache__/
venv/lib/python3.6/site-packages/sklearn/neighbors/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/neural_network/__pycache__/
venv/lib/python3.6/site-packages/sklearn/neural_network/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/preprocessing/__pycache__/
venv/lib/python3.6/site-packages/sklearn/preprocessing/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/semi_supervised/__pycache__/
venv/lib/python3.6/site-packages/sklearn/semi_supervised/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/svm/__pycache__/
venv/lib/python3.6/site-packages/sklearn/svm/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/tree/__pycache__/
venv/lib/python3.6/site-packages/sklearn/tree/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/utils/__pycache__/
venv/lib/python3.6/site-packages/sklearn/utils/sparsetools/__pycache__/
venv/lib/python3.6/site-packages/sklearn/utils/sparsetools/tests/__pycache__/
venv/lib/python3.6/site-packages/sklearn/utils/tests/__pycache__/
venv/lib/python3.6/site-packages/werkzeug/__pycache__/
venv/lib/python3.6/site-packages/werkzeug/contrib/__pycache__/
venv/lib/python3.6/site-packages/werkzeug/debug/__pycache__/
/venv/
